<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>

<h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h2>


<div class="archive">
  <dl class="archive-list">
  <% var postArr = site.posts; %>
  <% var lastYear; %>
  <% var year; %>
  <% page.posts.forEach(function(obj){ %>
    <% if(lastYear != obj.date.year()){ %>
    <dt><%= obj.date.year() %></dt>
    <% lastYear = obj.date.year() %>
    <% } %>
    <dd>
        <a href="<%- config.root %><%- obj.path %>" class="title"><%= obj.title %><time class="date" datetime="<%= obj.date.toDate().toISOString() %>"><%- date(obj.date, 'YYYY-MM-DD') %></time></a>
    </dd>
  <% }); %>
  </dl>
</div>

